.square {
    background-color: red;
    width: 100px;
    height: 100px;

    .circle {
        width: 20px;
        height: 20px;
        background-color: blue;
        border-radius: 50px;
    }
}

.principleButton {
    background: rgb(0, 131, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    border-radius: 50px;

}
