.square {
    background-color: red;
    width: 100px;
    height: 100px;
}

.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
}

/* Images area ----------------------------------------------------------------*/
img.message{
    left: 30%;
    top: 25%;
}

img.ball{    
    left: 20%;
    bottom: 0%;
}

/* TEXT AREA ---------------------------------------------------------------------*/
* {
    font-family: 'Patrick Hand SC', sans-serif !important;
}

h1 {
    line-height: 0.5;
}

h6.desc {
    color: #7483a9;
    font-size: 15px;
    width: 400px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

h1.title {
    color: #0083ff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h1.subtitle {
    color: #2d4379;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}


  @media screen and (min-width: 751px) {
    h1.title {
        font-size: 55px;
    }
    h1.subtitle {
        font-size: 60px;
    }
    h6.desc {
        font-size: 18px;
        width: 600px;
    }
   
    img.message{    
        left: 0%;
        top: 25%;
    }
    img.ball{    
        left: 80%;
        bottom: 0%;
    }
  }
  
  @media screen and (max-width: 750px) {
    h1.title {
        font-size: 30px;

    }
    h1.subtitle {
        font-size: 45px;
    }
    h6.desc {
        font-size: 13px;
        width: 300px;
    }
  }

/* Fin text area --------------------------------------------------------------------*/


img {
    position: absolute;
    width: 250px;
	left: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25%;
}

.principleButton {
    background: rgb(0, 131, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
}

.principleButton:hover {
    color: rgb(255,255,255);
    text-decoration:  none;
    opacity: 0.85;
    width: 205px;
    transition-duration: 250ms;
}



/* Menu ---------------------------------------------------------------------*/




.cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
  }
    
  .card {
    background: rgb(0, 131, 255);
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }

  
  .fontTittle1 {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0.5em;
    font-size: 1.8rem;
    color: white;
    font-weight: 00;
    text-transform: uppercase;
}

.subTittle1 {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 5em;
    font-size: 0.8rem;
    color: white;
    font-weight: 00;
    text-transform: uppercase;
}
    


  
  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 94.5%;
    }
    .card {
      height: 260px;
    }
  }
